<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head >
</head>
<body>
    <div th:fragment="contactform_modals">
        <!--#Modal form for user update-->
        <div class="contactFormUpdate">
            <form class="form-signin" th:action="@{save}" method="post">
                <div class="modal fade" data-backdrop="static" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Update Contact</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <h6 style="font-weight: bold">Main Information</h6>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="contactId" name="contactId" value="" />
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle name" >
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" required >
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <select class="custom-select" id="gender" name="gender" >
                                                <option selected disabled value="">Choose Gender...</option>
                                                <option th:each="genders : ${T(dev.sda.team2.pma.enums.Gender).values()}"
                                                        th:value="${genders}" th:text="${genders.displayGender}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3 ml-auto">
                                            <select class="custom-select" name="closed" id="closed">
                                                <option selected disabled value="">Is Closed...</option>
                                                <option value="true">Closed</option>
                                                <option value="false">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="Contact phone">
                                        </div>
                                        <div class="col-md-4 mb-3 ml-auto">
                                        <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Contact Email">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <select class="custom-select" id="customer" name="customer" disabled>
                                            <option selected disabled value="">Choose Customer...</option>

                                        </select>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <select class="custom-select" id="supplier" name="supplier" disabled>
                                            <option selected disabled value="">Choose Supplier...</option>

                                        </select>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-link float-right" type="submit" data-toggle="tooltip" data-placement="top" title="Save">
                                    <i class="material-icons-outlined md-36">save_alt</i>
                                </button>
                                <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">
                                    <i class="material-icons-outlined md-36">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End update form-->
        <!--#Modal for user create-->
        <div class="contactFormCreate">
            <form class="form-signin" th:action="@{save}"  method="post">
                <div class="modal fade" data-backdrop="static" id="contactModalCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelCreate">Create Contact</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <h6 style="font-weight: bold">Main Information</h6>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" required>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <input type="text" class="form-control" id="middleName" name="middleName" placeholder="Middle name" >
                                        </div>
                                        <div class="col-md-4 mb-3">
                                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <input type="text" class="form-control" id="title" name="title" placeholder="Title">
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <select class="custom-select" id="gender" name="gender" >
                                                <option selected disabled value="">Choose Gender...</option>
                                                <option th:each="genders : ${T(dev.sda.team2.pma.enums.Gender).values()}"
                                                        th:value="${genders}" th:text="${genders.displayGender}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3 ml-auto">
                                            <select class="custom-select" name="closed" id="closed">
                                                <option selected disabled value="">Is Closed...</option>
                                                <option value="true">Closed</option>
                                                <option value="false">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-4 mb-3">
                                            <input type="tel" class="form-control" id="contactPhone" name="contactPhone" placeholder="Contact phone">
                                        </div>
                                        <div class="col-md-4 mb-3 ml-auto">
                                            <input type="email" class="form-control" id="contactEmail" name="contactEmail" placeholder="Contact Email">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select" id="customer" name="customer" disabled>
                                                <option selected disabled value="">Choose Customer...</option>

                                            </select>
                                        </div>
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select" id="supplier" name="supplier" disabled>
                                                <option selected disabled value="">Choose Supplier...</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-link float-right" type="submit" data-toggle="tooltip" data-placement="top" title="Save">
                                    <i class="material-icons-outlined md-36">save_alt</i>
                                </button>
                                <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">
                                    <i class="material-icons-outlined md-36">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End form-->
    </div>
</body>
<script type ="text/javascript" th:src="@{/js/contactsdatatable.js}" src="../../static/js/contactsdatatable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
