<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head >
</head>
<body>
    <div th:fragment="itemform_modals">
        <!--#Modal form for user update-->
        <div class="itemFormUpdate">
            <form class="form-signin" th:action="@{save}" method="post">
                <div class="modal fade" data-backdrop="static" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel">Update Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <h6 style="font-weight: bold">Main Information</h6>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="itemId" name="itemId" value="" />
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Item name" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <textarea class="form-control" id="itemDescription" name="itemDescription" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select" id="supplierId" name="supplierId" disabled>
                                                <option selected disabled value="">Choose Supplier...</option>

                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <select class="custom-select" id="itemType" name="itemType" >
                                                <option selected disabled value="">Choose Item Type...</option>
                                                <option th:each="itemTypes : ${T(dev.sda.team2.pma.enums.ItemType).values()}"
                                                        th:value="${itemTypes}" th:text="${itemTypes.displayItemTypes}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <select class="custom-select" id="stockId" name="stockId" disabled>
                                                <option selected disabled value="">Choose Stock...</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-2 mb-3">
                                            <input type="number" min="0" step="0.01" class="form-control" id="salesPrice" name="salesPrice" placeholder="Sales price" >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <input type="number" min="0" step="0.01" class="form-control" id="purchasePrice" name="purchasePrice" placeholder="Purchase price" >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <input type="number" min="0" step="0.01" class="form-control" id="minStockLevel" name="minStockLevel" placeholder="Min level">
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <input type="text" class="form-control" id="unit" name="unit" placeholder="Unit" >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <select class="custom-select" id="vatId" name="vatId"  disabled>
                                                <option selected disabled value="">Choose VAT...</option>

                                            </select>

                                        </div>
                                        <div class="col-md-2 mb-3 ml-auto">
                                            <select class="custom-select" name="closed" id="closed" >
                                                <option selected disabled value="">Is Closed...</option>
                                                <option value="true">Closed</option>
                                                <option value="false">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-link float-right" type="submit" data-toggle="tooltip" data-placement="top" title="Save">
                                    <i class="material-icons-outlined md-36">save_alt</i>
                                </button>
                                <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">
                                    <i class="material-icons-outlined md-36">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End update form-->
        <!--#Modal for user create-->
        <div class="itemFormCreate">
            <form class="form-signin" th:action="@{save}"  method="post">
                <div class="modal fade" data-backdrop="static" id="itemModalCreate" tabindex="-1" role="dialog" aria-labelledby="modalLabelCreate" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabelCreate">Create Item</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <h6 style="font-weight: bold">Main Information</h6>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <input type="text" class="form-control" id="itemName" name="itemName" placeholder="Item name" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <textarea class="form-control" id="itemDescription" name="itemDescription" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <select class="custom-select" id="supplierId" name="supplierId" disabled>
                                                <option selected disabled value="">Choose Supplier...</option>

                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <select class="custom-select" id="itemType" name="itemType" >
                                                <option selected disabled value="">Choose Item Type...</option>
                                                <option th:each="itemTypes : ${T(dev.sda.team2.pma.enums.ItemType).values()}"
                                                        th:value="${itemTypes}" th:text="${itemTypes.displayItemTypes}"></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <select class="custom-select" id="stockId" name="stockId" disabled>
                                                <option selected disabled value="">Choose Stock...</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-2 mb-3">
                                            <input type="number" min="0" step="0.01" class="form-control" id="salesPrice" name="salesPrice" placeholder="Sales price" >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <input type="number" min="0" step="0.01" class="form-control" id="purchasePrice" name="purchasePrice" placeholder="Purchase price" >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <input type="number" min="0" step="0.01" class="form-control" id="minStockLevel" name="minStockLevel" placeholder="Min level">
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <input type="text" class="form-control" id="unit" name="unit" placeholder="Unit" >
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <select class="custom-select" id="vatId" name="vatId" disabled>
                                                <option selected disabled value="">Choose VAT...</option>

                                            </select>

                                        </div>
                                        <div class="col-md-2 mb-3 ml-auto">
                                            <select class="custom-select" name="closed" id="closed" >
                                                <option selected disabled value="">Is Closed...</option>
                                                <option value="true">Closed</option>
                                                <option value="false">Active</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-link float-right" type="submit" data-toggle="tooltip" data-placement="top" title="Save">
                                    <i class="material-icons-outlined md-36">save_alt</i>
                                </button>
                                <button type="button" class="btn btn-link" data-dismiss="modal" data-toggle="tooltip" data-placement="top" title="Close">
                                    <i class="material-icons-outlined md-36">close</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--End form-->
    </div>
</body>
<script type ="text/javascript" th:src="@{/js/projectdatatable.js}" src="../../static/js/projectdatatable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</html>
